<xf:title>{{ phrase('admin_navigation.faq') }}</xf:title>

<xf:pageaction>
	<div class="buttonGroup">
		<xf:button href="{{ link('faq-manager/add') }}" icon="add">{{ phrase('faq_add_your_question') }}</xf:button>
		<xf:button href="{{ link('faq-manager/category') }}" icon="add" overlay="true">{{ phrase('add_category') }}</xf:button>
		<xf:button href="{{ link('faq-manager/sort') }}" icon="sort" overlay="true" />
	</div>
</xf:pageaction>

<xf:if is="$questions is not empty">
	<xf:form action="" class="block" ajax="true">

		<div class="block-outer">
			<xf:macro template="filter_macros" name="quick_filter" arg-key="faq-manager" arg-class="block-outer-opposite" />
		</div>

		<div class="block-container">
			<div class="block-body">

				<xf:datalist>
					<xf:foreach loop="{$questions}" key="$smilieId" value="$question">
						<xf:datarow>
							<xf:cell href="{{ link('faq-manager/edit', $question) }}" class="dataList-cell--link dataList-cell--main" hash="{$question.faq_id}">
								<div class="dataList-mainRow">{{ $question.question }}</div>
								<span class="dataList-secondRow"><xf:date time="$question.submit_date" /></span>
							</xf:cell>
							<xf:cell>
								Asked by <xf:username user="{$question.User}" />
							</xf:cell>
							<xf:delete href="{{ link('faq-manager/delete', $question) }}" />
						</xf:datarow>
					</xf:foreach>
				</xf:datalist>
			</div>


			<div class="block-footer block-footer--split">
				<span class="block-footer-counter">{{ display_totals($total) }}</span>
			</div>
		</div>
	</xf:form>

	<xf:else />
	<div class="blockMessage">{{ phrase('no_items_have_been_created_yet') }}</div>
</xf:if>